{% extends 'core/base.html' %}
{% block content %}

  {% if documents %}
    <div class="container">
      {% for document in documents %}
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
              <div>
                  {{ document.description }}
                  <span class="badge badge-pill badge-light">{{ document.uploaded_at }}</span>
              </div>
              <a href="{% url 'document_delete' document.pk %}" class="btn btn-dark">Delete</a>
          </div>

          <div class="card-body">
              <div class="d-flex align-items-center">
                  <audio controls>
                        <source src="/media/{{ document.audio_file }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                  </audio>
              </div>
              <br>
              <p class="card-text">{{ document.audio_text }}</p>
          </div>
        </div>
        <br>
      {% endfor %}
    </div>

  {% endif %}

  <br><br><br><br>
{% endblock %}
